body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffc800;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/* Modal */
.chat-modal {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  z-index: 1000;
}

.chat-header {
  background: #ffc800 ;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  border-radius: 12px 12px 0 0;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.chat-body {
  padding: 10px 17px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-body input, .chat-body textarea {
  padding: 10px 0 10px 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
}

.chat-body textarea {
  height: 70px;
  resize: none;
}

.chat-footer {
  padding: 10px;
  text-align: center;
}

.send-btn {
  background: #ffc800 ;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.send-btn:hover{
  background: #daac04;
}

/* Toast (Bootstrap style) */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-left: 5px solid #0278b4;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.4s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast .icon {
  font-size: 18px;
}

.toast.success {
  border-left-color: #28a745;
}

.toast.error {
  border-left-color: #dc3545;
}

.icon{
  display: flex;
  align-items: center;
}

.icon a{
  font-size: 25px;
  margin-left: 10px;
  color: #0278b4;
}


.form-select {
  background-color: #0278b4; /* Dark fon */
  color: #fff; /* Matn oq rang */
  border: none; /* Chiziqlarni olib tashlash */
  border-radius: 10px; /* Dumaloq burchak */
  padding: 8px 12px;
  font-size: 14px;
  height: 40px;
  width: 140px; /* Qat'iy kenglik (masofa o‘zgarmasin) */
  cursor: pointer;

  /* Bootstrap default ikonkani oq qilish */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592c.86 0 1.319 1.013.753 1.658l-4.796 5.482a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 12px;

  appearance: none; /* Brauzer default stilini olib tashlash */
}

.form-select:focus {
  outline: none;
  box-shadow: 0 0 5px #4f6175; /* Hover effekti */
}

.form-select option {
  background-color: #000000; /* Dropdown fon */
  color: #fff; /* Matn oq */
}


@media (max-width: 500px) { .chat-modal { width: 92%; bottom: 100px; right: 4%; } }